body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}

.buttons-tracker button {
  margin: 10px;
  width: 50px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.buttons-tracker button:hover {
  opacity: 0.7;
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin-bottom: 10px;
}
.login-form input[type="checkbox"] {
  align-self: start;
}
